<body>
    <div class="container">
      <h2 class="box">We will save and share rating of sociality.</h2>
      <h4 class="box2">About us</h4>
      <p class="about">各種シェアリングサービスにおけるあなたの評価を蓄積し、実績を証明することができます</p>
      <h4 class="box3"><%= link_to "Sign in", :controller => "sessions", :action => "new" %> or <%= link_to "Sign up", :controller => "users", :action => "new" %></h4>
    </div>
</body>
</html>
