<body>
  <!-- ナビゲーションバー -->
  <header class="header">
    <a class="navbar-brand" href="">
      Necokaburi
    </a>
    <ul class="list-socials hidden-sm-down">
      <li>
        <a href="https://www.facebook.com">
          <%= link_to image_tag("facebook.png") %>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com">
          <%= link_to image_tag("instagram.png") %>
        </a>
      </li>
      <li>
        <a href="https://twitter.com">
          <%= link_to image_tag("twitter.png") %>
        </a>
      </li>
    </ul>
    <span class="scrolldown hidden-sm-down" style="transform: matrix(0, -1, 1, 0, 0, 0); opacity: 0.8;">
      <span class="txt">
        <span>←</span>
        <span>S</span>
        <span>c</span>
        <span>r</span>
        <span>o</span>
        <span>l</span>
        <span>l</span>
      </span>

    </span>
  </header>
    <!-- ハンバーガーメニュー -->
    <div id="nav-drawer">
        <input id="nav-input" type="checkbox" class="nav-unshown">
        <label id="nav-open" for="nav-input"><span></span></label>
        <label class="nav-unshown" id="nav-close" for="nav-input"></label>
        <div id="nav-content">
          <ul class="menu-nav" style="list-style:none;">
            <!-- リンクができたら<%=%>に変える -->
            <li class="nav-item1">
              <a class="page-home-link" href="">About us</a>
            </li>
            <li class="nav-item">
              <a class="page-home-link" href="">Sign in</a>
            </li>
            <li class="nav-item">
              <a class="page-home-link" href="">New account</a>
            </li>
            <li class="nav-item">
              <a class="page-home-link" href="">Service</a>
            </li>
          </ul>
        </div>
    </div>
    <div class="container">
      <h2 class="box">We will save and share rating of sociality.</h2>
      
    </div>
</body>
</html>
